body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffcccb, #fff);
    text-align: center;
    color: #333;
}

h1 {
    margin: 10px 0;
    font-size: 2em;
    color: #d6336c;
    text-shadow: 1px 1px 2px #333;
}

#game-container {
    width: 800px;
    height: 600px;
    margin: 20px auto;
    border: 5px solid #d6336c;
    border-radius: 15px;
    background: #fff5f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    margin-top: 20px;
    font-size: 1em;
    color: #555;
}

footer p {
    color: #d6336c;
    font-weight: bold;
    text-shadow: 1px 1px 2px #333;
}

button {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #fff;
    background: #d6336c;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

